
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="/static/styles.css" rel="stylesheet" rel="preload" />
      <link rel="icon" type="image/png" href="/static/favicon.ico" />
      <title>Shonen Jump RSS Feeds</title>
    </head>
    <body>
      <h1>Shonen Jump RSS Feeds</h1>
      
  <ul>
    
      <li>
        <a href="/rss/astro-royale.xml">Astro Royale</a>
      </li>
    
      <li>
        <a href="/rss/blue-box.xml">Blue Box</a>
      </li>
    
      <li>
        <a href="/rss/kagurabachi.xml">Kagurabachi</a>
      </li>
    
      <li>
        <a href="/rss/my-hero-academia.xml">My Hero Academia</a>
      </li>
    
      <li>
        <a href="/rss/sakamoto-days.xml">Sakamoto Days</a>
      </li>
    
      <li>
        <a href="/rss/undead-unluck.xml">Undead Unluck</a>
      </li>
    
  </ul>

    </body>
  </html>
