
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="/static/styles.css" rel="stylesheet" rel="preload" />
      <link rel="icon" type="image/png" href="/static/favicon.ico" />
      <title>Shonen Jump RSS Feeds</title>
    </head>
    <body>
      <h1>Shonen Jump RSS Feeds</h1>
      
  <ul>
    
      <li>
        <a href="/rss/drcl-midnight-children.xml">#DRCL midnight children</a>
      </li>
    
      <li>
        <a href="/rss/akane-banashi.xml">Akane-banashi</a>
      </li>
    
      <li>
        <a href="/rss/astro-baby.xml">Astro Baby</a>
      </li>
    
      <li>
        <a href="/rss/beat-and-motion.xml">Beat &amp; Motion</a>
      </li>
    
      <li>
        <a href="/rss/blade-of-the-moon-princess.xml">Blade of the Moon Princess</a>
      </li>
    
      <li>
        <a href="/rss/blue-box.xml">Blue Box</a>
      </li>
    
      <li>
        <a href="/rss/blue-exorcist.xml">Blue Exorcist</a>
      </li>
    
      <li>
        <a href="/rss/chainsaw-man.xml">Chainsaw Man</a>
      </li>
    
      <li>
        <a href="/rss/choujin-x.xml">Choujin X</a>
      </li>
    
      <li>
        <a href="/rss/dandadan.xml">Dandadan</a>
      </li>
    
      <li>
        <a href="/rss/dark-gathering.xml">Dark Gathering</a>
      </li>
    
      <li>
        <a href="/rss/dear-anemone.xml">Dear Anemone</a>
      </li>
    
      <li>
        <a href="/rss/dogsred.xml">Dogsred</a>
      </li>
    
      <li>
        <a href="/rss/ghost-reaper-girl.xml">Ghost Reaper Girl</a>
      </li>
    
      <li>
        <a href="/rss/gokurakugai.xml">Gokurakugai</a>
      </li>
    
      <li>
        <a href="/rss/green-green-greens.xml">Green Green Greens</a>
      </li>
    
      <li>
        <a href="/rss/jojos-bizarre-adventure-part-6.xml">JoJo’s Bizarre Adventure: Part 6--Stone Ocean</a>
      </li>
    
      <li>
        <a href="/rss/jujutsu-kaisen.xml">Jujutsu Kaisen</a>
      </li>
    
      <li>
        <a href="/rss/kagurabachi.xml">Kagurabachi</a>
      </li>
    
      <li>
        <a href="/rss/kaiju-no-8.xml">Kaiju No. 8</a>
      </li>
    
      <li>
        <a href="/rss/kaiju-no-8-b-side.xml">Kaiju No. 8: B-Side</a>
      </li>
    
      <li>
        <a href="/rss/kill-blue.xml">Kill Blue</a>
      </li>
    
      <li>
        <a href="/rss/magilumiere-magical-girls-inc.xml">Magilumiere Magical Girls Inc.</a>
      </li>
    
      <li>
        <a href="/rss/mamayuyu.xml">MamaYuyu</a>
      </li>
    
      <li>
        <a href="/rss/me-and-roboco.xml">Me &amp; Roboco</a>
      </li>
    
      <li>
        <a href="/rss/mission-yozakura-family.xml">Mission: Yozakura Family</a>
      </li>
    
      <li>
        <a href="/rss/my-hero-academia.xml">My Hero Academia</a>
      </li>
    
      <li>
        <a href="/rss/nues-exorcist.xml">Nue’s Exorcist</a>
      </li>
    
      <li>
        <a href="/rss/ruridragon.xml">RuriDragon</a>
      </li>
    
      <li>
        <a href="/rss/sakamoto-days.xml">Sakamoto Days</a>
      </li>
    
      <li>
        <a href="/rss/seraph-of-the-end.xml">Seraph of the End</a>
      </li>
    
      <li>
        <a href="/rss/shadow-eliminators.xml">Shadow Eliminators</a>
      </li>
    
      <li>
        <a href="/rss/shojo-null.xml">Shojo Null</a>
      </li>
    
      <li>
        <a href="/rss/show-ha-shoten.xml">Show-ha Shoten!</a>
      </li>
    
      <li>
        <a href="/rss/spy-x-family.xml">Spy x Family</a>
      </li>
    
      <li>
        <a href="/rss/super-psychic-policeman-chojo.xml">Super Psychic Policeman Chojo</a>
      </li>
    
      <li>
        <a href="/rss/the-elusive-samurai.xml">The Elusive Samurai</a>
      </li>
    
      <li>
        <a href="/rss/twin-star-exorcists.xml">Twin Star Exorcists</a>
      </li>
    
      <li>
        <a href="/rss/two-on-ice.xml">Two on Ice</a>
      </li>
    
      <li>
        <a href="/rss/undead-unluck.xml">Undead Unluck</a>
      </li>
    
      <li>
        <a href="/rss/witch-watch.xml">WITCH WATCH</a>
      </li>
    
      <li>
        <a href="/rss/wild-strawberry.xml">Wild Strawberry</a>
      </li>
    
  </ul>

    </body>
  </html>
