{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shonen Jump RSS Feeds</title>
  </head>
  <body>
    <h1 style="color: black">Shonen Jump RSS Feeds</h1>
    {{template "manga" .}}
  </body>
</html>
{{end}}

<!-- manga template -->
{{define "manga"}}
<ul>
  {{range .}}
  <li>
    <a href="/rss/{{.Handle}}.xml">{{.Name}}</a>
  </li>
  {{ else }}
  <li>No manga found...</li>
  {{end}}
</ul>
{{end}}
